@charset "UTF-8";

html {
    zoom: 0.85;
}

html, body {
    height: 100%;   
    margin: 0;   
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html * {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, helvetica, sans-serif !important;
}

.container {
	flex-grow: 1;
	/* min-height: calc(100% - 56px - 56px); */
}

.join-container, .account-container, .find-password-container {
	margin-top: 6rem;
	margin-bottom: 6rem;
	display: flex;
	align-items: center;
}

.main-container, .login-container, .error-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
}

.boards-container, .board-container {
	/* display: flex;
	align-items: center; */
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.admin-container {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

input::placeholder, 
input::-webkit-input-placeholder {
	font-size: .875rem !important;
	color: #868e96; 
}

input:focus::placeholder, 
input:focus::-webkit-input-placeholder {
	color: #adb5bd;
}

textarea::placeholder, 
textarea::-webkit-input-placeholder {
	color: #868e96; 
}

textarea:focus::placeholder, 
textarea:focus::-webkit-input-placeholder {
	color: #adb5bd; 
}

.error {
	color: red;
	font-size: 13px;
}

.success {
	color: green;
	font-size: 13px;
}

.navbar-custom {
	top: 0;
	border-bottom: 1px solid #dedede !important;
	z-index: 999;
	padding: 0;
	min-height: 56px;
	position: sticky;
}

.navbar-custom div.container-fluid, 
.navbar-custom div.collapse, 
.navbar-custom ul.navbar-nav {
	height: 100%;
}

.navbar-custom div.logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 4rem;
}

.navbar-custom .navbar-brand {
	color: black;
	font-weight: bold;
	margin: 0;
	padding: .5rem;
}

.navbar-custom .navbar-nav {
	flex-shrink: 0;
}

.navbar-custom .navbar-nav .nav-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-custom .navbar-nav .nav-item.category:not(:last-of-type) {
	margin-right: 1.5rem !important;
}

.navbar-custom .navbar-nav .nav-item:not(:last-of-type) {
	margin-right: 1rem; /* mr-2 */
}

.navbar-custom .navbar-nav .nav-item.active {
	box-shadow: inset 0 -2px 0 0 #212529;
	transition: box-shadow 0.2s ease;
	/* transition-property: box-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease; */
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
	color: #212529;
	font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
	color: #525661;
	border-radius: 0.6rem;
}

.navbar-custom .navbar-nav .nav-link:hover:not(.nav-member-profile) {
	color: #212529;
	font-weight: bold;
	/* background-color: #e9ecef; */
}

.navbar-custom .navbar-nav .nav-link.vertical-divider {
	pointer-events: none;
}

.navbar-custom .navbar-nav .nav-link.vertical-divider::after {
	content: "|";
}

.nav-member-profile {
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-custom .nav-member-image {
	width: 40px;
	height: 40px;
	margin-right: 12px;
	border: 1px solid #dee2e6 !important;
	border-radius: 50%;
}

.navbar-nav .dropdown-menu {
	background-clip: border-box;
	/* border-radius: 0; */
	border-radius: 0 0 0.5rem 0.5rem;
	margin: 0;
	padding: 0;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translateX(-50%) scaleY(0);
  	transform-origin: top;
  	opacity: 0;
 	transition: transform 0.5s ease, opacity 0.5s ease; */
}

/* .navbar-nav .dropdown-menu.show {
	transform: translateX(-50%) scaleY(1);
  	opacity: 1;
} */

.navbar-nav .dropdown-item {
	padding: 0.25rem 1rem;
	color: #525661;
	font-weight: 400;
	font-size: 0.95rem;
	background-color: transparent;
	height: 40px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.navbar-nav .dropdown-item:hover {
	background-color: hsla(221, 8%, 60%, .1);
}

.navbar-nav .dropdown-item:focus {
	outline: 0;
}

.navbar-custom .navbar-nav .dropdown-item:first-of-type {
	margin-top: 0.25rem;
}

.navbar-custom .navbar-nav .dropdown-item:last-of-type {
	margin-bottom: 0.25rem;
}

.w-10 {
	width: 10% !important;	
}

.w-40 {
	width: 40% !important;	
}

.rounded-md {
	border-radius: 0.5rem;
}

.rounded-xl {
	border-radius: 1rem;
}

footer {
	border-top: 1px solid #dedede !important;
	min-height: 56px;
	display: flex;
	align-items: center;
	color: #525661;
}

#layoutSidenav {
	/* height: 100% !important; */
	min-height: calc(100% - 56px);
}

#layoutSidenav_nav {
	height: 100% !important;
}

#layoutSidenav_nav .sb-sidenav-menu {
	border-right: 1px solid #dedede !important;
}

.sb-topnav div.logo-wrap {
	display: flex;
	align-items: center;
	height: 100%;
}

.sb-topnav .navbar-brand {
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem;
	width: calc(225px - 3rem); /* sb-topnav (px-5, 3rem) */
}

#sidebarToggle:focus {
	box-shadow: none;
}

.sb-sidenav-menu .nav-link {
	color: #525661;
}

.sb-sidenav-menu .nav-link:hover {
	color: black !important;
	font-weight: bold;
}

.sb-sidenav-menu .sb-sidenav-menu-heading {
	color: #525661 !important;
	font-size: 0.9rem !important;
}

.sb-sidenav-menu .sb-nav-link-icon {
	margin-left: 0.5rem;
	margin-right: 0.65rem !important;
	font-size: 1rem;	
}

.sb-topnav .dropdown-menu {
	top: calc(100% + 0.5rem);
	width: 270px;
	left: auto;
	transform: none;
}

.sb-topnav .dropdown-divider {
	margin: 0;
}

.sb-topnav .dropdown-item {
	justify-content: flex-start;
	height: auto;
	font-size: 1rem;
}

.sb-topnav div.dropdown-item {
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 8px 20px;
}

.sb-topnav div.dropdown-item:hover {
	background-color: transparent;
}

.sb-topnav a.dropdown-item {
	height: 48px;
	padding-top: 0;
	padding-bottom: 0;
}

.sb-topnav .nav-member-image {
	width: 50px;
	height: 50px;
	margin-right: 12px;
	border-radius: 50%;
	border: 1px solid #dee2e6 !important;
}


