@charset "UTF-8";

body {
	/* padding-top: 56px; 
	padding-bottom: 56px; */
}

.home-container {
	margin-top: 4rem;
}

.join-container,
.login-container,
.info-container,
.check-password-container,
.update-password-container,
.find-account-container,
.find-account-result-container, 
.find-password-container {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.board-main-container,
.board-write-container {
	margin-top: 7rem;
	margin-bottom: 7rem;	
}

.security-container {
	margin-top: 10rem;
	margin-bottom: 10rem;
}

input::placeholder {
	font-size: 14px;
}

.error {
	color: red;
	font-size: 13px;
}

.success {
	color: green;
	font-size: 13px;
}

.navbar-custom {
	position: sticky;
	top: 0;
	border-bottom: 1px solid #dedede !important;
	background-color: white;
	z-index: 999;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-custom .navbar-brand {
	color: black;
}

.navbar-custom .navbar-nav .nav-link {
	color: grey;
}

.navbar-custom .navbar-nav .nav-link:hover {
	color: black;
	font-weight: bold;
}

.dropdown .nav-link {
	padding: 0.75rem 0;
} 

.dropdown-menu {
	background-clip: border-box;
	border-radius: 0;
	margin-top: 0;
}

button.dropdown-item {
	padding: 0.25rem 1rem;
	font-size: 13px;
	color: grey;
}

