<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!-- <configuration debug="true" scan="true" scanPeriod="1 seconds"> -->
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{36}.%method\(%line\) : %msg%n</pattern> -->
			<!-- <pattern>[%-5level] %logger{0}.%method: %msg%n</pattern> -->
			<!-- <pattern>[%-5p] %C{0}.%M\(%L\) - %m%n</pattern> -->
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p %logger{36} : %msg%n</pattern> -->
			<pattern>[%-5level] %-40.40logger{40} : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.security.web.FilterChainProxy" level="INFO" />
	<logger name="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" level="INFO" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="INFO" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG" />
	
	<!-- db log -->
	<logger name="jdbc.sqlonly" level="OFF"/>
  	<logger name="jdbc.sqltiming" level="OFF"/> 
  	<logger name="jdbc.resultsettable" level="OFF"/>
  	<!-- <logger name="jdbc.sqltiming" level="INFO"/> 
  	<logger name="jdbc.resultsettable" level="INFO"/> -->
  	<logger name="jdbc.audit" level="OFF"/>
  	<logger name="jdbc.resultset" level="OFF"/>
 	<logger name="jdbc.connection" level="OFF"/>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>