<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!-- <configuration debug="true" scan="true" scanPeriod="1 seconds"> -->
<configuration debug="true">
	<!-- STDOUT(Standard Out) -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <pattern>%d{HH:mm:ss.SSS}[%-5level] %logger{36}.%method\(%line\) : %msg%n</pattern> -->
			<!-- <pattern>[%-5level] %logger{0}.%method: %msg%n</pattern> -->
			<!-- <pattern>[%-5p] %C{0}.%M\(%L\) - %m%n</pattern> -->
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p %logger{36} : %msg%n</pattern> -->
			<pattern>[%-5level]  %-40.40logger{40} : %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="console2" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%-5level]  %-40.40logger{40} : %n		%msg</pattern>
		</encoder>
	</appender>
	<!-- appender	: log의 형태를 설정, 로그 메시지가 출력될 대상을 결정하는 요소 (콘솔 혹은 파일로 출력할지 등의 설정) 	-->
	<!-- root 		: 전역 설정, 지역적으로 선언된 logger 설정이 있다면 해당 logger 설정이 default로 적용					-->
	<!-- logger		: 지역 설정, additivity 값은 root 설정 상속 유무 설정 (default = true) 									-->
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.security.web.FilterChainProxy" level="INFO"/>
	<logger name="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" level="INFO"/>
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="INFO"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG"/>
	
	<!-- Transaction logger -->
	<!-- <logger name="org.springframework.transaction" level="INFO"/> -->
	<logger name="org.springframework.transaction.interceptor" level="TRACE"/>
	<logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG"/>
	<logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="DEBUG"/>
	<logger name="org.mybatis.spring.SqlSessionUtils" level="DEBUG"/>
	<logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="DEBUG"/>
	
	<!-- Batch logger -->
	<logger name="org.springframework.batch.core.configuration.annotation" level="TRACE"/>
	
	<!-- JDBC logger -->
	<logger name="jdbc.sqlonly" level="OFF" additivity="false">
		<appender-ref ref="console2"/> 
	</logger>
 	<logger name="jdbc.connection" level="OFF"/>
  	<logger name="jdbc.sqltiming" level="OFF"/> 
  	<logger name="jdbc.resultsettable" level="OFF"/>
  	<logger name="jdbc.resultset" level="OFF"/>
  	<logger name="jdbc.audit" level="OFF"/>
	
	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="console"/>
	</root>
</configuration>