<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- <setting name="callSettersOnNulls" value="true"/>
		<setting name="returnInstanceForEmptyRow" value="true"/> -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.codingjoa.entity.Member" alias="member" />
		<typeAlias type="com.codingjoa.entity.Auth" alias="auth" />
		<typeAlias type="com.codingjoa.entity.Category" alias="category" />
		<typeAlias type="com.codingjoa.entity.Board" alias="board" />
		<typeAlias type="com.codingjoa.entity.Upload" alias="upload" />
		<typeAlias type="com.codingjoa.entity.Comment" alias="comment" />
		<typeAlias type="com.codingjoa.entity.BoardLikes" alias="boardLikes" />
		<typeAlias type="com.codingjoa.entity.CommentLikes" alias="commentLikes" />
		
		<typeAlias type="com.codingjoa.pagination.Criteria" alias="boardCri" />
		<typeAlias type="com.codingjoa.pagination.CommentCriteria" alias="commentCri" />
		
		<!-- <typeAlias type="com.codingjoa.mybatis.ClobTypeHandler" alias="clobTypeHandler" /> -->
	</typeAliases>
	
	<!--
	# CLOB을 String으로 반환하는 방법
		- TypeHander 등록해서 사용하기 
		- 별도의 타입핸들러 등록없이 사용하기 (Oracle 10g 이상), javaType과 jdbcType 설정 필요
	-->
	
	<!-- <typeHandlers>
		<typeHandler handler="com.codingjoa.mybatis.ClobTypeHandler" javaType="String" jdbcType="LONGVARCHAR"/>
		<typeHandler handler="com.codingjoa.mybatis.ClobTypeHandler" javaType="String" jdbcType="CLOB"/>
	</typeHandlers> -->
</configuration>
