<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.test.TestSchedulerMapper">
<!-- 
    idx             NUMBER,
    id              VARCHAR2(100)   NOT NULL,
    job_name		VARCHAR2(20)	NOT NULL,
    timestamp       VARCHAR2(100)   NOT NULL,
    CONSTRAINT pk_test5 PRIMARY KEY(idx)
-->
	<insert id="insert">
		INSERT INTO test5 (
			idx,
			id,
			job_name, 
			timestamp
		) VALUES (
			seq_test5.NEXTVAL, 
			#{id},
			#{jobName},
			#{timestamp}
		)
	</insert>
	
	<select id="findSampleData" resultType="testSchedulerData">
	
	</select>
	
</mapper>