<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.test.TestTimeoutMapper">

	<select id="sleep" statementType="CALLABLE">
		{ CALL 
			DBMS_LOCK.SLEEP(#{seconds}) 
			<!-- DBMS_LOCK.SLEEP(10) -->
		}
	</select>
	
	<select id="sleep2">
		SELECT 
			num
		FROM 
			test3
		WHERE 
			idx = ( SELECT MAX(idx) FROM test3 )
		FOR UPDATE
	</select>

</mapper>