<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.test.TestIsoMapper">
<!-- 
    idx         NUMBER,
    num         NUMBER,			NOT NULL,
-->

	<select id="findCurrentNumber" resultType="int" flushCache="true">
		SELECT 
			num
		FROM 
			test3
		WHERE 
			idx = ( SELECT MAX(idx) FROM test3 )
		<!-- SELECT 
			num 
		FROM (
			SELECT *
			FROM test3
			ORDER BY idx DESC
		)
		WHERE
			rownum = 1 -->
	</select>
	
	<select id="findNumbers" resultType="int" flushCache="true">
		SELECT num FROM test3 ORDER BY idx DESC
	</select>
	
	<insert id="insertNumber" parameterType="int">
		INSERT INTO test3 (idx, num) 
		VALUES (seq_test3.NEXTVAL, #{num})
	</insert>
	
	<update id="updateCurrentNumber" parameterType="int">
		UPDATE 
			test3
		SET 
			num = #{num}
		WHERE 
			idx = ( SELECT MAX(idx) FROM test3 )
	</update>
	
	<delete id="deleteNumbers">
		DELETE FROM test3
	</delete>

	<delete id="deleteCurrentNumber">
		DELETE FROM 
			test3
		WHERE
			idx = ( SELECT MAX(idx) FROM test3 )
	</delete>
	
</mapper>