<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.AdminMapper">

	<resultMap id="boardInfoMap" type="boardInfo">
		<result column="comment_cnt" property="commentCnt"/>
		<result column="board_likes_cnt" property="boardLikesCnt"/>
		<association column="board_idx" property="board" javaType="board" >
			<result column="board_writer_idx" property="boardWriterIdx"/>
			<result column="board_title" property="boardTitle"/>
			<result column="board_content" property="boardContent"/>
			<result column="board_content_text" property="boardContentText"/>
			<result column="board_code" property="boardCategoryCode"/>
			<result column="board_views" property="boardViews"/>
			<result column="board_created_at" property="createdAt"/>
			<result column="board_updated_at" property="updatedAt"/>
		</association>
		<association column="category_code" property="category" javaType="category">
			<result column="category_parent_code" property="categoryParentCode"/>
			<result column="category_name" property="categoryName"/>
			<result column="category_path" property="categoryPath"/>
		</association>
		<association column="member_idx" property="writer" javaType="member">
			<result column="member_email" property="memberEmail"/>
			<result column="member_password" property="memberPassword"/>
			<result column="member_nickname" property="memberNickname"/>
			<result column="member_zipcode" property="memberZipcode" />
			<result column="member_addr" property="memberAddr" />
			<result column="member_addr_detail" property="memberAddrDetail"/>
			<result column="member_agree" property="memberAgree"/>
			<result column="member_created_at" property="createdAt"/>
			<result column="member_updated_at" property="updatedAt"/>
		</association>
	</resultMap>

	<select id="findPagedBoards" resultMap="boardInfoMap">
		SELECT 
			board.board_idx,
			board.board_writer_idx,
			board.board_title,
			board.board_content,
			board.board_content_text,
			board.board_category_code,
			board.board_views,
			board.created_at				AS board_created_at,
			board.updated_at				AS board_updated_at,
			category.category_code,
			category.category_parent_code, 
			category.category_name, 
			category.category_path,
			member.member_idx,
			member.member_email,
			member.member_password,
			member.member_nickname,
			member.member_zipcode,
			member.member_addr,
			member.member_addr_detail,
			member.member_agree,
			member.created_at				AS member_created_at,
			member.updated_at				AS member_updated_at,
			NVL(comment_group.cnt, 0) 		AS comment_cnt,
    		NVL(board_likes_group.cnt, 0) 	AS board_likes_cnt
		FROM
			board board
		INNER JOIN
			category category
		ON
			board.board_category_code = category.category_code
		INNER JOIN
			member member
		ON
			board.board_writer_idx = member.member_idx
		LEFT OUTER JOIN (
			SELECT 
				board_idx, 
				COUNT(*) cnt
			FROM
				"comment"
			GROUP BY 
				board_idx
		) comment_group
		ON 
			board.board_idx = comment_group.board_idx
		LEFT OUTER JOIN ( 
			SELECT 
    			board_idx,
    			COUNT(*) cnt
    		FROM 
    			board_likes
    		GROUP BY 
				board_idx
    	) board_likes_group
		ON 
			board.board_idx = board_likes_group.board_idx
	</select>
</mapper>