<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.BoardMapper">
<!--  
	board_idx               NUMBER,
    board_writer_idx        NUMBER                      NOT NULL,
	board_title             VARCHAR2(500)               NOT NULL,
    board_content           CLOB                        NOT NULL,
    board_content_text      CLOB                        NULL,		NOT NULL >> NULL
	board_category_code     NUMBER                      NOT NULL,
    board_views             NUMBER          DEFAULT 0   NOT NULL,
	created_at              DATE                        NOT NULL,
    updated_at              DATE                        NOT NULL
-->

	<insert id="insertBoard" parameterType="board">
		<selectKey keyProperty="boardIdx" resultType="int" order="BEFORE">
			SELECT seq_board.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO board (
			board_idx,
			board_writer_idx,
			board_title,
			board_content,
			board_content_text,
			board_category_code,
			created_at,
			updated_at
		) VALUES (
			#{boardIdx},
			#{boardWriterIdx},
			#{boardTitle},
			#{boardContent},
			#{boardContentText},
			#{boardCategoryCode},
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<resultMap type="map" id="boardDetailsMap">
		<id property="boardIdx" column="board_idx" javaType="int"/>
		<result column="board_title" property="boardTitle" javaType="string"/>
		<!-- <result column="board_content" property="boardContent" typeHandler="clobTypeHandler"/> -->
		<result column="board_content" property="boardContent" javaType="string" jdbcType="CLOB" />
		<result column="board_views" property="boardViews" javaType="int"/>
		<result column="board_category_code" property="boardCategoryCode" javaType="int"/>
		<result column="created_at" property="createdAt" javaType="java.time.LocalDateTime"/>
		<result column="updated_at" property="updatedAt" javaType="java.time.LocalDateTime"/>
		<result column="member_nickname" property="writerNickname" javaType="string"/>
		<result column="comment_cnt" property="commentCnt" javaType="int"/>
		<result column="likes_cnt" property="likesCnt" javaType="int"/>
		<result column="is_writer" property="isWriter" javaType="boolean"/>
		<result column="is_liked" property="isLiked" javaType="boolean"/>
	</resultMap>
	
	<select id="findBoardDetailsByIdx" parameterType="map" resultMap="boardDetailsMap">
		SELECT 
			board.*,
			member.member_nickname, 
			NVL(comment_group.cnt, 0) 	AS comment_cnt, 
			NVL(likes_group.cnt, 0) 	AS likes_cnt,
    		CASE
    			WHEN board.board_writer_idx = #{memberIdx} 
    			THEN 1 ELSE 0
    		END AS is_writer,
    		CASE
    			WHEN EXISTS ( 
    				SELECT 1 
    				FROM board_likes
    				WHERE board_likes.board_idx = board.board_idx 
    				AND board_likes.member_idx = #{memberIdx} 
    			) THEN 1 ELSE 0
    		END AS is_liked
		FROM
			board
		INNER JOIN
			member
		ON
			board.board_writer_idx = member.member_idx
		LEFT OUTER JOIN (
			SELECT board_idx, COUNT(*) cnt
			FROM "comment"
			GROUP BY board_idx
		) comment_group
		ON 
			board.board_idx = comment_group.board_idx
		LEFT OUTER JOIN ( 
			SELECT board_idx, COUNT(*) cnt
			FROM board_likes 
			GROUP BY board_idx
		) likes_group
		ON 
			board.board_idx = likes_group.board_idx
		WHERE
			board.board_idx = #{boardIdx} 
	</select>

	<update id="updateBoardViews" parameterType="int">
		UPDATE
			board
		SET
			board_views = board_views + 1
		WHERE
			board_idx = #{boardIdx}
	</update>

	<sql id="searchCriteria">
		<!-- [OUTDATED COMMENT] -->
		<!-- For cases where criteria are resolved without using the BoardCriteriaArgumentResolver 	 	-->
		<!--   	* new BoardCriteria(1,5) 							==> boardCri.type = null 									 	-->
		<!--   	* boardCri.keyword = null or boardCri.keyword = '' 	==> boardCri.keywordRegexp = null 	-->
		
		<!-- [UPDATED COMMENT] -->
		<!-- 	* new BoardCriteria(1,5) ==> this(1,5,"title",null) ==> boardCri.keywordRegexp = null 	-->
		<if test='boardCri.keywordRegexp != null'>
			<trim prefix="(" suffix=") AND " suffixOverrides="OR">
				<foreach collection='boardCri.type.split("_")' item="item">
					<trim suffix="OR">
						<if test='item.equals("title")'>
							REGEXP_LIKE( board.board_title, #{boardCri.keywordRegexp} )
						</if>
						<if test='item.equals("content")'>
							REGEXP_LIKE( board.board_content_text, #{boardCri.keywordRegexp} )
						</if>
						<if test='item.equals("writer")'>
							<!-- member.member_nickname LIKE '%' || #{boardCri.keyword} || '%' -->
							REGEXP_LIKE( member.member_nickname, #{boardCri.keywordRegexp} )
						</if> 
					</trim>
				</foreach>
			</trim>
		</if>
	</sql> 

	<select id="findPagedBoard" parameterType="map" resultMap="boardDetailsMap">
		SELECT
			/*+ ORDERED USE_NL(comment_group) USE_NL(likes_group) */
			paged_board.*,
			NVL(comment_group.cnt, 0) 	AS comment_cnt,
			NVL(likes_group.cnt, 0) 	AS likes_cnt,
			CASE
				WHEN paged_board.board_writer_idx = #{memberIdx} 
				THEN 1 ELSE 0
			END AS is_writer,
			CASE
				WHEN EXISTS (
					SELECT 1
					FROM board_likes
					WHERE board_likes.board_idx = paged_board.board_idx 
					AND board_likes.member_idx = #{memberIdx} 
    			) THEN 1 ELSE 0
    		END AS is_liked
		FROM (
		    SELECT 
		    	filtered_board.*
		    FROM (
				SELECT
					/*+ INDEX_DESC(board pk_board) */
		        	ROWNUM rn, 
		        	board.board_idx,
					board.board_writer_idx,
					board.board_title,
					board.board_content,
					board.board_content_text,
					board.board_category_code,
					board.board_views,
					board.created_at,
					board.updated_at,
		        	member.member_nickname
		    	FROM 
		        	board
		        INNER JOIN
		        	member
		        ON
		        	board.board_writer_idx = member.member_idx
		    	WHERE
		        	<include refid="searchCriteria"/>
					board.board_category_code = #{boardCategoryCode} 
				AND
					<![CDATA[ ROWNUM <= ( #{boardCri.page} * #{boardCri.recordCnt} ) ]]>
		    ) filtered_board
		    WHERE 
		    	filtered_board.rn > ( (#{boardCri.page} - 1) * #{boardCri.recordCnt} )
		) paged_board
		LEFT OUTER JOIN (
			SELECT board_idx, COUNT(*) cnt
			FROM "comment"
			GROUP BY board_idx
		) comment_group
		ON 
			paged_board.board_idx = comment_group.board_idx
		LEFT OUTER JOIN ( 
			SELECT board_idx, COUNT(*) cnt
    		FROM board_likes
    		GROUP BY board_idx 
    	) likes_group
		ON 
			paged_board.board_idx = likes_group.board_idx
	</select>

	<select id="findPagedBoardTotalCnt" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			board
		INNER JOIN
			member
		ON
			board.board_writer_idx = member.member_idx
		WHERE
			<include refid="searchCriteria"/>
			board.board_category_code = #{boardCategoryCode}
	</select>

	<select id="findBoardByIdx" parameterType="int" resultType="board">
		SELECT
			*
		FROM 
			board
		WHERE
			board_idx = #{boardIdx}
	</select>
	
	<update id="updateBoard" parameterType="board">
		UPDATE
			board
		SET
			board_title = #{boardTitle},
			board_content = #{boardContent},
			board_content_text = #{boardContentText},
			board_category_code = #{boardCategoryCode},
			updated_at = SYSDATE
		WHERE
			board_idx = #{boardIdx}
	</update>
	
	<select id="findBoardCategoryCode" parameterType="int" resultType="int">
		SELECT
			board_category_code
		FROM
			board
		WHERE
			board_idx = #{boardIdx} 
	</select>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM
			board
		WHERE
			board_idx = #{boardIdx}
	</delete>
	
	<!-- <delete id="deleteBoard" parameterType="board" statementType="CALLABLE">
	{ 
		CALL
			DECLARE
				v_board_writer_idx board.board_writer_idx%TYPE := NULL;
				v_board_category_code board.board_category_code%TYPE := NULL;
			BEGIN
				DELETE FROM
					board
	    		WHERE 
	        		board_idx = #{boardIdx} 
	    		RETURNING 
	        		board_writer_idx, 
	        		board_category_code 
	    		INTO
	        		v_board_writer_idx, 
	        		v_board_category_code;
	        	#{boardWriterIdx, mode=OUT, jdbcType=NUMERIC, javaType=Integer} := v_board_writer_idx;
	        	#{boardCategoryCode, mode=OUT, jdbcType=NUMERIC, javaType=Integer} := v_board_category_code;
			END 
	}
	</delete> -->
	
</mapper>