<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.BoardMapper">
	
	<insert id="insertUpload" parameterType="upload">
		<selectKey keyProperty="uploadIdx" resultType="int" order="BEFORE">
			SELECT seq_upload.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO upload (
			upload_idx,
			upload_board_idx,
			upload_file,
			regdate
		) VALUES (
			#{uploadIdx},
			#{uploadBoardIdx},
			#{uploadFile},
			SYSDATE
		)
	</insert>
	
	<insert id="insertBoard" parameterType="board">
		<selectKey keyProperty="boardIdx" resultType="int" order="BEFORE">
			SELECT seq.board.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO board (
			board_idx,
			board_title,
			board_content,
			board_writer_idx,
			board_category_code,
			regdate,
			moddate
		) VALUES (
			#{boardIdx}
			#{boardTitle},
			#{boardContent},
			#{boardWriterIdx},
			#{boardCategoryCode},
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<select id="isTempImageUploaded" parameterType="int" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			upload
		WHERE
			upload_idx = #{uploadIdx} AND upload_board_idx IS NULL
	</select>

</mapper>