<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.CategoryMapper">
<!-- 
## category
    code            NUMBER,
    parent_code     NUMBER,
    name            VARCHAR2(50)       NOT NULL,
    path            VARCHAR2(1000)     NOT NULL,
 -->

	<select id="findParentCategories" resultType="Category">
		SELECT
			code,
			parent_code,
			name,
			path
		FROM 
			category
		WHERE
			parent_code IS NULL 
	</select>
	
	<select id="findCategoriesByParent" parameterType="int" resultType="Category">
		SELECT
			code,
			parent_code,
			name,
			path
		FROM 
			category
		WHERE
			parent_code = #{parentCode}
	</select>
	
	<select id="findCategoryById" parameterType="int" resultType="Category">
		SELECT
			code,
			parent_code,
			name,
			path
		FROM
			category
		WHERE
			code = #{code}	
	</select>
	
	<!-- <select id="findCategoryOfSameParent" parameterType="int" resultType="category">
		SELECT
			a.category_code,
			a.category_parent_code, 
			a.category_name,
			a.category_path
		FROM
			category a
		INNER JOIN
			category b
		ON
			a.category_parent_code = b.category_parent_code
		WHERE
			b.category_code = #{categoryCode}
	</select> -->
	
	<select id="findBoardCategories" resultType="Category">
		SELECT
			code,
			parent_code,
			name,
			path
		FROM
			category
		WHERE
			parent_code = 1
	</select>
	
</mapper>