<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.ImageMapper">
<!--  
	board_image_idx         NUMBER,
	board_idx               NUMBER              NULL,
	board_image_name        VARCHAR2(200)       NOT NULL,
    board_image_url         VARCHAR2(200)       NOT NULL,
	created_at              DATE                NOT NULL,
-->
	
<!--  	
	member_image_idx         NUMBER,
	member_idx               NUMBER              NOT NULL,
	member_image_name        VARCHAR2(200)       NOT NULL,
    member_image_url         VARCHAR2(200)       NOT NULL,
	created_at               DATE                NOT NULL,
-->

	<insert id="insertBoardImage" parameterType="boardImage">
		<selectKey keyProperty="boardImageIdx" resultType="int" order="BEFORE">
			SELECT seq_board_image.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO board_image (
			board_image_idx,
			board_idx,
			board_image_name,
			board_image_url,
			created_at
		) VALUES (
			#{boardImageIdx},
			#{boardIdx},
			#{boardImageName},
			#{boardImageUrl},
			SYSDATE
		)
	</insert>
	
	<select id="isBoardImageUploaded" parameterType="int" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			board_image
		WHERE
			board_image_idx = #{boardImageIdx}
	</select>
	
	<update id="activateBoardImages" parameterType="map">
		UPDATE 
			board_image
		SET
			board_idx = #{boardIdx}
		WHERE
			board_image_idx IN 
			<foreach collection="boardImages" item="boardImageIdx" separator="," open="(" close=")">	
				#{boardImageIdx}
			</foreach>
	</update>
	
	<update id="deactivateBoardImages" parameterType="int">
		UPDATE 
			board_image
		SET
			board_idx = NULL
		WHERE
			board_idx = #{boardIdx} 
	</update>
	
	<select id="findBoardImagesByBoardIdx" parameterType="int" resultType="boardImage">
		SELECT
			*
		FROM
			board_image
		WHERE
			board_idx = #{boardIdx}
	</select>
	
	<update id="deactivateMemberImage" parameterType="int">
		UPDATE 
			member_image
		SET
			member_idx = NULL
		WHERE
			member_idx = #{memberIdx} 
	</update>
	
	<insert id="insertMemberImage" parameterType="memberImage">
		<selectKey keyProperty="memberImageIdx" resultType="int" order="BEFORE">
			SELECT seq_member_image.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO member_image (
			member_image_idx,
			member_idx,
			member_image_name,
			member_image_url,
			created_at
		) VALUES (
			#{memberImageIdx},
			#{memberIdx},
			#{memberImageName},
			#{memberImageUrl},
			SYSDATE
		)
	</insert>
	
	<select id="findTempBoardImages" resultType="boardImage">
		SELECT
			*
		FROM
			board_image
		WHERE
			board_idx IS NULL
	</select>

	<select id="findTempMemberImages" resultType="memberImage">
		SELECT
			*
		FROM
			member_image
		WHERE
			member_idx IS NULL
	</select>
	
</mapper>