<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.LikesMapper">
<!--
	board_likes_idx                		NUMBER,
    board_idx           	NUMBER      NOT NULL,
	member_idx          	NUMBER      NOT NULL,
	
	comment_likes_idx                   NUMBER,
    comment_idx             NUMBER      NOT NULL,
	member_idx              NUMBER      NOT NULL,
-->
	
	<update id="mergeBoardLikes" parameterType="boardLikes">
		<selectKey keyProperty="boardIdx" resultType="int" order="BEFORE">
			SELECT 
				MAX(board_idx) 
			FROM 
				board 
			WHERE 
				board_idx = #{boardIdx}
		</selectKey>
		BEGIN
			IF #{boardIdx} IS NOT NULL THEN
				MERGE INTO 
					board_likes
				USING
					DUAL
				ON 
					board_idx = #{boardIdx}
				AND
					member_idx = #{memberIdx}
				WHEN MATCHED THEN
					DELETE
				WHEN NOT MATCHED THEN
					INSERT (
						board_likes_idx,
						board_idx,
						member_idx
					) VALUES (
						seq_board_likes.NEXTVAL,
						#{boardIdx},
						#{memberIdx}
					)
			END IF;
		END;
	</update>
	
	<update id="mergeCommentLikes" parameterType="commentLikes">
		<selectKey keyProperty="commentIdx" resultType="int" order="BEFORE">
			SELECT 
				MAX(comment_idx) 
			FROM 
				"comment" 
			WHERE 
				comment_idx = #{commentIdx}
		</selectKey>
	</update>
	
</mapper>