<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.TestMapper">
<!-- 
    idx         NUMBER
    id          VARCHAR2(50)    UNIQUE  NOT NULL,
    name        VARCHAR2(50)            NOT NULL,
    password    VARCHAR2(50)            NOT NULL, 
-->

	<select id="select" resultType="testVo">
		SELECT * FROM test
	</select>
	
	<insert id="insert" parameterType="testVo">
		INSERT INTO test (
			idx,
			id,
			name,
			password
		) VALUES (
			seq_test.NEXTVAL,
			#{id},
			#{name},
			#{password}
		)
	</insert>
	
	<update id="update" parameterType="testVo">
		UPDATE
			test
		SET
			id = #{id},
			name = #{name},
			password = #{password}
		WHERE
			idx = #{idx} 
	</update>
	
	<delete id="delete" parameterType="int">
	
	</delete>
	
</mapper>