<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.UploadMapper">
<!--  
	upload_idx              NUMBER,
	upload_board_idx        NUMBER              NULL,
	upload_file             VARCHAR2(500)       NOT NULL,
	regdate                 DATE                NOT NULL,
-->

	<insert id="insertUpload" parameterType="upload">
		<selectKey keyProperty="uploadIdx" resultType="int" order="BEFORE">
			SELECT seq_upload.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO upload (
			upload_idx,
			upload_board_idx,
			upload_file,
			regdate
		) VALUES (
			#{uploadIdx},
			#{uploadBoardIdx},
			#{uploadFile},
			SYSDATE
		)
	</insert>
	
	<select id="isTempImageUploaded" parameterType="int" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			upload
		WHERE
			upload_idx = #{uploadIdx} AND upload_board_idx IS NULL
	</select>
	
	<update id="activateImage" parameterType="map">
		UPDATE 
			upload
		SET
			upload_board_idx = #{uploadBoardIdx}
		WHERE
			upload_idx IN 
			<foreach collection="uploadIdxList" item="uploadIdx" separator="," open="(" close=")">	
				#{uploadIdx}
			</foreach>
	<!-- <foreach collection="uploadIdxList" item="uploadIdx" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE 
				upload
			SET
				upload_board_idx = #{boardIdx}
			WHERE
				upload_idx = #{uploadIdx}
		</foreach> -->
	</update>
	
	<select id="findUploadIdxList" parameterType="int" resultType="int">
		SELECT
			upload_idx
		FROM
			upload
		WHERE
			upload_board_idx = #{boardIdx}
	</select>
	
	<update id="deactivateImage" parameterType="int">
		UPDATE 
			upload
		SET
			upload_board_idx = ''
		WHERE
			upload_board_idx = #{uploadBoadIdx} 
	</update>
	
</mapper>