<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingjoa.mapper.UserMapper">
<!--
## users
    id                  NUMBER,
    email               VARCHAR2(100)   UNIQUE  NOT NULL,
    password            VARCHAR2(200)           NULL,
    nickname            VARCHAR2(50)    UNIQUE  NOT NULL,
    zipcode             CHAR(5)                 NULL,
    addr                VARCHAR2(150)           NULL,
    addr_detail         VARCHAR2(150)           NULL,
    agree               CHAR(1)                 NOT NULL,
    created_at          DATE                    NOT NULL,
    updated_at          DATE                    NOT NULL,
    
## auth
    id          NUMBER,
    user_id     NUMBER          NOT NULL,
    role        VARCHAR2(30)    NOT NULL,
    created_at  DATE            NOT NULL,
    
## sns_info
	id              NUMBER,
	user_id         NUMBER              NOT NULL,
    sns_id          VARCHAR2(200)       NOT NULL,
	provider        VARCHAR2(20)        NOT NULL,
    connected_at    DATE                NULL,
	created_at      DATE                NOT NULL,
-->

	<insert id="insertUser" parameterType="User">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_users.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO users (
			id,
			email,
			password,
			nickname,
			agree,
			created_at,
			updated_at
		) VALUES (
			#{id},
			#{email},
			#{password},
			#{nickname},
			#{agree},
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<insert id="insertAuth" parameterType="Auth">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_auth.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO auth (
			id,
			user_id,
			role,
			created_at
		) VALUES (
			#{id},
			#{userId},
			#{role},
			SYSDATE
		)
	</insert>

	<insert id="insertSnsInfo" parameterType="SnsInfo">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_snsinfo.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO sns_info (
			id,
			user_id,
			sns_id,
			provider,
			connected_at,
			created_at
		) VALUES (
			#{id},
			#{userId},
			#{snsId},
			#{provider},
			#{connectedAt},
			SYSDATE
		)
	</insert>
	
	<select id="isNicknameExist" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			users
		WHERE
			nickname = #{nickname}
	</select>
	
	<resultMap id="userInfoMap" type="map">
		<!-- java.lang.ClassCastException: class java.math.BigDecimal cannot be cast to class java.lang.Integer -->
		<result property="memberIdx" column="member_idx" javaType="int"/> 
		<result property="memberEmail" column="member_email"/>
		<result property="memberPassword" column="member_password"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberZipcode" column="member_zipcode"/>
		<result property="memberAddr" column="member_addr"/>
		<result property="memberAddrDetail" column="member_addr_detail"/>
		<result property="memberAgree" column="member_agree" javaType="boolean"/>
		<result property="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
		<result property="updatedAt" column="updated_at" javaType="java.time.LocalDateTime"/>
		<result property="memberImageUrl" column="member_image_url"/>
	</resultMap>
	
	<select id="findUserInfoById" parameterType="long" resultMap="userInfoMap">
		SELECT
			a.*,
			b.member_image_url
		FROM
			member a
		LEFT OUTER JOIN (
			SELECT
				member_idx,
				member_image_url,
				ROW_NUMBER() OVER (PARTITION BY member_idx ORDER BY created_at DESC) AS rn
			FROM
				member_image
		) b
		ON
			a.member_idx = b.member_idx AND b.rn = 1
		WHERE
			a.member_idx = #{memberIdx}
	</select>
	
	<resultMap id="userDetailsMap" type="map">
		<!-- java.lang.ClassCastException: class java.math.BigDecimal cannot be cast to class java.lang.Integer -->
		<result property="memberIdx" column="member_idx" javaType="int"/> 
		<result property="memberEmail" column="member_email"/>
		<result property="memberPassword" column="member_password"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberImageUrl" column="member_image_url"/>
		<result property="snsProvider" column="sns_provider"/>
		<collection property="memberRoles" javaType="list" ofType="string">
			<result column="member_role"/>
		</collection>
	</resultMap>
	
	<select id="findUserDetailsByEmail" parameterType="string" resultMap="userDetailsMap">
		SELECT
			a.member_idx,
			a.member_email,
			a.member_password,
			a.member_nickname,
			b.member_image_url,
			c.sns_provider,
			d.member_role
		FROM
			member a
		LEFT OUTER JOIN (
			SELECT
				member_idx,
				member_image_url,
				ROW_NUMBER() OVER (PARTITION BY member_idx ORDER BY created_at DESC) AS rn
			FROM
				member_image
		) b
		ON
			a.member_idx = b.member_idx AND b.rn = 1 
		LEFT OUTER JOIN
			sns_info c
		ON
			a.member_idx = c.member_idx
		INNER JOIN
			auth d
		ON
			a.member_idx = d.member_idx
		WHERE
			a.member_email = #{memberEmail}
	</select>

	<select id="findUserDetailsById" parameterType="long" resultMap="userDetailsMap">
		SELECT
			a.member_idx,
			a.member_email,
			a.member_password,
			a.member_nickname,
			b.member_image_url,
			c.sns_provider,
			d.member_role
		FROM
			member a
		LEFT OUTER JOIN (
			SELECT
				member_idx,
				member_image_url,
				ROW_NUMBER() OVER (PARTITION BY member_idx ORDER BY created_at DESC) AS rn
			FROM
				member_image
		) b
		ON
			a.member_idx = b.member_idx AND b.rn = 1 
		LEFT OUTER JOIN
			sns_info c
		ON
			a.member_idx = c.member_idx
		INNER JOIN
			auth d
		ON
			a.member_idx = d.member_idx
		WHERE
			a.member_idx = #{memberIdx}
	</select>
	
	<select id="findUserByEmail" parameterType="string" resultType="User">
		SELECT
			*
		FROM
			users
		WHERE	
			email = #{email}
	</select>
	
	<select id="findUserById" parameterType="long" resultType="User">
		SELECT
			*
		FROM
			users
		WHERE
			id = #{id}
	</select>
	
	<update id="updateNickname" parameterType="User">
		UPDATE 
			users
		SET
			nickname = #{nickname},
			updated_at = SYSDATE
		WHERE
			id = #{id}
	</update>
	
	<update id="updateEmail" parameterType="User">
		UPDATE 
			users
		SET
			email = #{email},
			updated_at = SYSDATE
		WHERE
			id = #{id}
	</update>
	
	<update id="updateAddr" parameterType="User">
		UPDATE 
			users
		SET
			zipcode = #{zipcode},
			addr = #{addr},
			addr_detail = #{addrDetail},
			updated_at = SYSDATE
		WHERE
			id = #{id}
	</update>

	<update id="updateAgree" parameterType="User">
		UPDATE 
			users
		SET
			agree = #{agree},
			updated_at = SYSDATE
		WHERE
			id = #{id}
	</update>
	
	<update id="updatePassword" parameterType="User">
		UPDATE 
			users
		SET
			password = #{password},
			updated_at = SYSDATE
		WHERE
			id = #{id}
	</update>
	
	<select id="findMemeberByIdAndEmail" parameterType="map" resultType="User">
		SELECT
			*
		FROM
			member
		WHERE
			member_id = #{memberId}
		AND
			member_email = #{memberEmail}
	</select>
	
</mapper>